<!DOCTYPE  html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
	<head>
  		<meta charset="UTF-8">
  		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  		<title>Quizz</title>
  		<style type="text/css">
  			li {padding: 1em;}
  			legend {background-color: white; border: 1px solid #0099ff;}
  			legend::first-letter { font-size: 26px; font-weight: bold;}
  			fieldset {border: 1.5px solid #0099ff; border-radius:25px; background-color:#fff2e6; margin: 1em;}
  			figcaption {text-align:justify;}
  		</style>
  		
	</head>
	<body>
		
		<form th:action="@{/persistMessage}" method="post">
			<fieldset>
				<legend>Pregunta 2:</legend>
						<figure>
							<img th:src="@{/pics/forest.png}"/>
							<figcaption class="text-primary">Vas paseando por el bosque cuando encuentras un rastro de sangre y señales de una refriega. Parece que pasó hace
							unas horas pero decides seguir el rastro para encontrar un ciervo malherido y con pocas esperanzas de vivir junto a un claro. Tus opciones:
							</figcaption>
						</figure>
						<ul style="list-style-type:none">
						  	<li><input type="radio" name="respuesta" value="barbarian" required="required">
						  	<label>Esta criatura ha vivido una vida noble, lo mejor será que termine con su sufrimiento con un golpe limpio de mi hacha.</label>
						  	</li>						  	
						  	<li><input type="radio" name="respuesta" value="wizard" required="required">
						  	<label>No hay mucho que pueda hacer al respecto, pero igual me sirve alguno de sus miembros para preparar nuevos brebajes y hechizos tras rematarlo con una bola de fuego.</label>
						  	</li>						  	
						  	<li><input type="radio" name="respuesta" value="bard" required="required">
						  	<label>Nada ni nadie merece terminar así sus últimos momentos. Me apoyo en un árbol cercano y entono una solemne canción con la intención de amenizar su dolor y rendirle homenaje.</label>
						  	</li>						  	
						  	<li><input type="radio" name="respuesta" value="cleric" required="required">
						  	<label>Por suerte poseo los dones de la sanación necesarios para salvar su vida a tiempo. ¡Hoy no es tu final Bambi!</label>
						  	</li>				  
						</ul>
									
				</fieldset>
			<button type="submit" class="btn btn-primary">Siguiente</button>
		</form>
	</body>
</html>