<!DOCTYPE  html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
	<head>
  		<meta charset="UTF-8">
  		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  		<title>Quizz</title>
  		<style type="text/css">
  			li {padding: 1em;}
  			legend {background-color: white; border: 1px solid #0099ff;}
  			legend::first-letter { font-size: 26px; font-weight: bold;}
  			fieldset {border: 1.5px solid #0099ff; border-radius:25px; background-color:#fff2e6; margin: 1em;}
  			figcaption {text-align:justify; margin : 1em;}
  			img {
			  display: block;
			  margin : 1em auto 1em auto;
			  border: 3px solid gray;
			  width: 45%;}
			  #nombre {margin: 2em; }
  		</style>
  		
	</head>
	<body>
		
		<form th:action="@{/persistMessage}" method="post">
			<fieldset>
				<legend>Pregunta 5:</legend>
						<figure>
							<img th:src="@{/pics/taberna.jpg}"/>
							<figcaption class="text-primary">Menuda nochechita, ¿eh? Te despiertas en una cama ajena y además con buena compañía, nada mal. Entre caricias y los preparativos
							par el segundo asalto, alguien irrumpe en la escena iracundo y clamando que te va a cortar la cabeza por algún tipo de malentendido conyugal, claramente.
							</figcaption>
						</figure>
						<label for="opciones">Tus opciones:</label>
						<select name="opciones" id="opciones">
						  	<option value="barbarian">Le preparo un bocadillo de puños</option>					  	
						  	<option value="wizard">Me escabuyo con un hechizo de invisibilidad</option>						  	
						  	<option value="bard">Uso mi labia y la música para aplacar a la bestia</option>				  	
						  	<option value="cleric">Afronto la situación con serenidad y resuelvo el malentendido</option>				  
						</select>
									
				</fieldset>
			<button type="submit" class="btn btn-primary">Siguiente</button>
			<button type="reset" class="btn btn-dark">Reset</button>
		</form>
	</body>
</html>