<!DOCTYPE  html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
	<head>
  		<meta charset="UTF-8">
  		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  		<title>Quizz</title>
  		<style type="text/css">
  			li {padding: 1em;}
  			legend {background-color: white; border: 1px solid #0099ff;}
  			legend::first-letter { font-size: 26px; font-weight: bold;}
  			fieldset {border: 1.5px solid #0099ff; border-radius:25px; background-color:#fff2e6; margin: 1em;}
  			figcaption {text-align:justify; margin : 1em;}
  			img {
			  display: block;
			  margin : 1em auto 1em auto;
			  border: 3px solid gray;
			  width: 45%;}
			  #nombre {margin: 2em; }
  		</style>
  		
	</head>
	<body>
		
		<form th:action="@{/pm6}" method="post">
			<fieldset>
				<legend>Pregunta 6:</legend>
						<figure>
							<img th:src="@{/pics/thebox.jpg}"/>
							<figcaption class="text-primary">Regresas de completar un trabajo bien hecho a informar a la persona que contrató tus servicios
							Están tan contentos y agradecidios por tu éxito que te ofrecen las siguientes recompensas. Elige lo que tomarás:
							</figcaption>
						</figure>
						
						<!-- Si no elige nada/abnegación, +1 cleric, si elige hacha +1 barbarian -1 wizard, grimorio +1 wizard -1 barbarian, oro y vino +1 bard -1 cleric -->
						<ul style="list-style-type:none">
						  	<li><input type="checkbox" name="respuesta" value="barbarian">
						  	<label>Hacha de acero enano (del bueno)</label>
						  	</li>						  	
						  	<li><input type="checkbox" name="respuesta" value="wizard">
						  	<label>Grimorio de las sombras</label>
						  	</li>						  	
						  	<li><input type="checkbox" name="respuesta" value="bard">
						  	<label>Riquezas y vino</label>
						  	</li>
						</ul>
									
				</fieldset>
			<button type="submit" class="btn btn-primary">Siguiente</button>
			<button type="reset" class="btn btn-dark">Reset</button>
		</form>
	</body>
</html>