<!DOCTYPE  html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
	<head>
  		<meta charset="UTF-8">
  		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  		<title>Quizz</title>
  		<style type="text/css">
  			li {padding: 1em;}
  			legend {background-color: white; border: 1px solid #0099ff;}
  			legend::first-letter { font-size: 26px; font-weight: bold;}
  			fieldset {border: 1.5px solid #0099ff; border-radius:25px; background-color:#fff2e6; margin: 1em;}
  			figcaption {text-align:justify;}
  		</style>
  		
	</head>
	<body>
		
		<form th:action="@{/persistMessage}" method="post">
			<fieldset>
				<legend>Pregunta 7:</legend>
						<figure>
							<img th:src="@{/pics/kobolds.jpg}"/>
							<figcaption class="text-primary">Parece que esta aventura toca a su fin. Cansado tras una larga jornada te acercas al pueblo más cercano cuando ves por el rabillo del ojo
							un grupo de kobolds correteando con malas intenciones. Percibes que van dejando caer un rastro de objetos presuntamente robados a medida que
							se alejan, probablemente de los aldeanos. Tus opciones:
							</figcaption>
						</figure>
						<ul style="list-style-type:none">
						  	<li><input type="radio" name="respuesta" value="barbarian" required="required">
						  	<label>Agarro mi arma y les corto el paso. No se van a salir con la suya sin pelear.</label>
						  	</li>						  	
						  	<li><input type="radio" name="respuesta" value="wizard" required="required">
						  	<label>A veces la respuesta más simple es la más correcta. ¡BOLA DE FUEGO!</label>
						  	</li>						  	
						  	<li><input type="radio" name="respuesta" value="bard" required="required">
						  	<label>Saco mi confiable flauta y me aproximo a ellos tocando una melodía para hipnotizarles y alejarles del pueblo.</label>
						  	</li>						  	
						  	<li><input type="radio" name="respuesta" value="cleric" required="required">
						  	<label><em>"I'm a healer, but..." </em>No puedo tolerar la intolerancia. Agarro mi maza y les casco tortas hasta que se arrepientan de sus acciones.</label>
						  	</li>				  
						</ul>
									
				</fieldset>
			<button type="submit" class="btn btn-primary">Finalizar</button>
		</form>
	</body>
</html>