<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head>
  		<meta charset="UTF-8">
  		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  		<title>Resultados</title>
</head>
<body class="p-3 mb-2 bg-light text-dark">
		<h1 class="text-center">Resultado</h1>

		<table class="table table-bordered">
		  <tr class="table-dark">
		    <th>Nombre:</th>
		    <td ></td>
		  </tr>
		  <tr class="table-dark">
		    <th>Primer apellido</th>
		    <td> </td>
		  </tr>
		  <tr class="table-dark">
		    <th>Segundo apellido</th>
		    <td ></td>
		  </tr>
		  <tr class="table-dark">
		    <th>Sexo</th>
		    <td ></td>
		  </tr>
		  <tr class="table-dark">
		    <th>Fecha de nacimiento</th>
		    <td ></td>
		  </tr>
		  <tr class="table-dark">
		    <th>Email</th>
		    <td ></td>
		  </tr>
		  <tr class="table-dark">
		    <th>Contraseña</th>
		    <td ></td>
		  </tr>
		  <tr class="table-dark">
		    <th>Dirección</th>
		    <td ></td>
		  </tr>
		  <tr class="table-dark">
		    <th>Nivel de estudios</th>
		    <td ></td>
		  </tr>		  
		</table>
		
			
	</body>
</html>