<!DOCTYPE  html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
	<head>
  		<meta charset="UTF-8">
  		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  		<title>Quizz</title>
  		<style type="text/css">
  			li {padding: 1em;}
  			legend {background-color: white; border: 1px solid #0099ff;}
  			legend::first-letter { font-size: 26px; font-weight: bold;}
  			fieldset {border: 1.5px solid #0099ff; border-radius:25px; background-color:#fff2e6; margin: 1em;}
  			figcaption {text-align:justify; margin : 1em;}
  			img {
			  display: block;
			  margin : 1em auto 1em auto;
			  border: 3px solid gray;
			  width: 45%;}
			  #nombre {margin: 2em; }
  		</style>
  		
	</head>
	<body>
		
		<form th:action="@{/persistMessage}" method="post">
			<fieldset>
				<legend>Inicio:</legend>
						<figure>
							<img th:src="@{/pics/start.jpg}"/>
							<figcaption class="text-primary">Bienvenido aventutero. Te estás adentrando en un mundo de magia no tan fantástico, pero es lo que has elegido. Escribe
							tu nombre a continuación y veremos qué tipo de personaje se adecúa más a tus decisiones:
							</figcaption>
						</figure>
						
						<textarea id=nombre name="name" rows="2" cols="50" placeholder="Escribe tu nombre"></textarea>
									
				</fieldset>
			<button type="submit" class="btn btn-primary">Comenzar</button>
		</form>
	</body>
</html>